.CommitTransactionLoading {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;



}
.CommitTransaction {
    width: 100%;
    height: 100%;

    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #f5f5f5;
    padding: 4em 0;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.CommitTransaction .ReportTableWrap * {
    text-align: center;
}

.CommitTransaction .ReportTableWrap {
    overflow-x: hidden !important;
    max-width: 50em;
    margin: 0 auto 1em;
}

.CommitTransaction .Bg {
    width: 100%;
    height: 100%;
}

.ReceiptBody {
    width: 96%;
    margin: 0 auto;
    background-color: white;
    border-radius: 1em;
    direction: rtl;
    text-align: right;
    overflow: hidden;
    position: relative;
    padding: 1em .5em;
}

.ReceiptBody.Success {
    -webkit-box-shadow: 0px 0px 15px -4px rgba(2, 160, 126, 0.25);
    -moz-box-shadow: 0px 0px 15px -4px rgba(2, 160, 126, 0.25);
    box-shadow: 0px 0px 15px -4px rgba(2, 160, 126, 0.25);
}

.ReceiptBody.Failed {
    -webkit-box-shadow: 0px 0px 15px -4px rgba(209, 19, 70, .25);
    -moz-box-shadow: 0px 0px 15px -4px rgba(209, 19, 70, .25);
    box-shadow: 0px 0px 15px -4px rgba(209, 19, 70, .25);
}

.CircleBg {
    width: 50em;
    height: 50em;
    border-radius: 100%;
    position: absolute;
    top: -45em;
    left: -14.5em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.CircleBg.Success {
    background-color: #02A07F;
}

.CircleBg.Failed {
    background-color: #ff0d4b;
}

.ReceiptBody .Head img {
    width: 1.5em;
    height: 1.5em;
    margin: 0 .25em;
}

.ReceiptBody .Head {
    width: 100%;
    height: 2em;
    color: white;
    font-size: 1.5em;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

}

.logo {
    width: 100%;

    margin-top: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.ReceiptBody .Informations {
    width: 100%;
    min-height: 12em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: .5em;
    margin-top: 2em;

    position: relative;
}

.ReceiptBody .Informations .Item {
    width: 100%;
    font-size: .9em;
    margin: .35em 0;
    display: flex;
    padding: .5em .75em;
    border-radius: .35em;
    height: 100%;
    justify-content: space-between;
}

.ReceiptBody .Informations .Item div:nth-child(1) {
    width: 30%;
}

.ReceiptBody .Informations .Item div:nth-child(2) {
    width: 70%;
}

.ReceiptBody .Informations .Item.Success {
    background-color: #E8F9F5;
    color: #014738;
}

.ReceiptBody .Informations .Item.Failed {
    background-color: #FFE9EF;
    color: #5D081F;
}

.WrapButton {
    height: 4em;
    width: 100%;
    padding: 0 .5em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.WrapButton .CAT {
    border-radius: .35em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2em;
    padding: .5em 2em;
    cursor: pointer;
}

.WrapButton .CAT.Success {
    color: #E8F1F4;
    background-color: #02A07F;
}

.WrapButton .CAT.Failed {
    color: #FFE9EF;
    background-color:  #ff0d4b;
}


@media (min-width: 576px) {
    .CircleBg {
        width: 200%;
        height: 50em;
        top: -45em;
        left: -50%;
    }

    .ReceiptBody .Head {
        width: 100%;
        height: 2em;
        color: white;
        font-size: 1.5em;

        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

    }
}

@media (min-width: 992px) {
    .ReceiptBody {
        border-radius: .5em;
        width: 80%;
    }

    .ReceiptBody .Informations {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .ReceiptBody .Informations .Item {
        font-size: 1em;
        width: 48%;
        padding: .5em;
        margin: 0 1%;
    }
}