@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --blue: blue;
    --blue-300: #d0d0fa;
    --blue-100: #e9e9ff;
    --gray-300: #f6f6f6;
    --white: #fff;
    --red: #e01111;
    --red-100: #f5d5d5;
    --yellow: #e78b01;
    --green: #189f76;
    --black: #2a2a2a;
    --black-200: #ececec;
    --black-400: #c4c4c4;
    --black-600: #9d9d9d;
    --black-800: #3d3d3d;

    --rounded-sm: 0.125rem; /* 2px */
    --rounded: 0.25rem; /* 4px */
    --rounded-md: 0.375rem; /* 6px */
    --rounded-lg: 0.5rem; /* 8px */
    --rounded-full: 50%;
    --rounded-t-none: 0px;

    --shadow: 0 0 5px #afafaf;


    /*////////////////*/
    --themBlue: #0d51fc;
    --backgroundBody: #F8F9FC;
    --backgroundBox: #ffffff;
    --boxShadow: 0 7px 14px 0 rgba(65, 69, 88, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);

    /*--mFull: '12px';*/
    /*--mHalf: '6px';*/
    --ag-border-color: rgba(173, 11, 11, 0.25) !important;
}

body {
    background-color: var(--backgroundBody);

}

.ellipsis3 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    /* start showing ellipsis when 3rd line is reached */
    /*white-space: pre-wrap;*/
    /*overflow: hidden;*/
}

.ellipsis1 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.ellipsis2 {

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.ant-modal-header {
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 10PX;
}

.tab-panes .tab-pane {
    display: none
}

.tab-panes .tab-pane.active {
    display: block
}

.bgImageBox {
    background-image: url("download (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.defBox {
    background-color: white;
    border-radius: var(--rounded-md);
    box-shadow: var(--boxShadow);
    padding: 12px;
}

.defBoxBorder {
    background-color: white;
    border-radius: var(--rounded-md);
    padding: 10px;
    border: 2px solid var(--black-200);


}

.defBtn {
    padding: 3px 7px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 37px;
    font-size: 13px;
    box-shadow: var(--boxShadow);
}

.submitBtn {
    color: white;
    min-width: 70px;
    background-color: var(--themBlue);
}

.greenBtn {
    color: white;
    min-width: 70px;
    background-color: var(--green);
}

.whiteBtn {
    color: var(--black);

    min-width: 70px;
    background-color: white;
}

.borderBtn {
    border: 1px solid var(--black-800);
    min-width: 70px;
    color: var(--black);
    background-color: white;

}

.borderBlue {
    border: 1px solid var(--themBlue);
    min-width: 70px;
    color: var(--themBlue);

}

.borderRed {
    border: 1px solid var(--red);
    min-width: 70px;
    color: var(--red);

}

.iconBtn {
    background-color: transparent;
    border: none;
}

.iconBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    padding: 1px;
    height: 26px;
    margin: 0 6px;
    width: 26px;

}

.iconBtn.red {
    background-color: #F3D9D9;
}

.iconBtn.red {
    color: var(--red);
}

.iconBtn.red:hover {
    background-color: var(--red);
}

.iconBtn.red:hover {
    color: #F3D9D9;
}


.iconBtn.green {
    background-color: #DDEBEA;
    color: var(--green);
}


.iconBtn.green:hover {
    background-color: var(--green);
}

.iconBtn.green:hover {
    color: #eaf8f7;
}


.iconBtn.yellow {
    background-color: #FBEDD9;
}

.iconBtn.yellow {
    color: var(--yellow);
}


.iconBtn.yellow:hover {
    background-color: var(--yellow);
}

.iconBtn.yellow:hover {
    color: #FBEDD9;
}


.iconBtn.blue {
    background-color: #DEE1EA;
}

.iconBtn.blue {
    color: var(--blue);
}


.iconBtn.blue:hover {
    background-color: var(--blue);
}

.iconBtn.blue:hover {
    color: #DEE1EA;
}


.iconBtn.black {
    background-color: #F3F3F3;
}

.iconBtn.black {
    color: var(--black);
}


.iconBtn.black:hover {
    background-color: var(--black);
}

.iconBtn.black:hover {
    color: #F3F3F3;
}
.ag-root-wrapper-body.ag-layout-normal{
    height: auto!important;
}
.ag-watermark.ag-opacity-zero {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    position: fixed !important;
    opacity: 0 !important;
    top: -1000px !important;
    right: -10000px !important;
}

.ag-watermark.ag-opacity-zero:before {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden !important;
    position: fixed !important;
    top: -1000px !important;
    opacity: 0 !important;
    right: -10000px !important;
}

.ag-watermark-text {
    display: none !important;
    visibility: hidden !important;
    width: 0 !important;
    height: 0 !important;
    opacity: 0 !important;
    overflow: hidden !important;
    position: fixed !important;
    top: -1000px !important;
    right: -10000px !important;
}


.ant-modal-footer {
    display: flex;
    justify-content: end;
}

.ant-tabs-content-holder{
    padding : 10px;
}

/*.ag-body-horizontal-scroll-viewport::-webkit-scrollbar {*/
/*    height: 5px;*/



/*}*/
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb {
    background: #d5d5d5;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb:hover {
    background: #c5c5c5;
}
.loadingJustifyBetween  {

    height: 100%;
}
.loadingJustifyBetween ul{
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    flex-direction: column;

}
.loadingJustifyBetween ul li{
  width: 100% !important;

}


:where(.css-dev-only-do-not-override-htwhyh).ant-tooltip .ant-tooltip-inner {
    min-width: 32px;
    min-height: 32px;
    padding: 6px 8px;
    color: #000c1c;
    text-align: start;
    text-decoration: none;
    word-wrap: break-word;
    background-color:rgb(199, 199, 199);
    border-radius: 6px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}
:where(.css-dev-only-do-not-override-htwhyh).ant-tooltip .ant-tooltip-arrow:before {
    background: rgb(199, 199, 199);
}


/*.haveModalBtnSelect{*/
/*    z-index:10!important;*/
/*}*/