.serviceHeader {
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    left: 0;
        width: 100%;
    z-index: 10;
}

/*.serviceHeader.showSidebar.SidebarCollapseSidebar {*/
/*    width: calc(100% - 240px);*/
/*}*/

/*.serviceHeader.showSidebar.SidebarCollapseSidebarActive {*/
/*    width: calc(100% - 80px);*/
/*}*/

/*.serviceHeader.hiddenSidebar {*/
/*    width: 100%;*/
/*}*/


.serviceHeader .dx-tabs-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.serviceHeader .dx-item.dx-tab {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
}

.serviceHeader .dx-tab.dx-state-focused::after {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 3px solid var(--blue);
}

.serviceHeader .dx-tab-selected::after {

    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 3px solid var(--blue);

}

.serviceHeader .headerActive {
    width: 100%;
    height: 5px;
    background: white;
    position: absolute;
    top: -18px;
    border-radius: 0 0 20px 20px;
}