
.redNotification {
    background: #ffcece !important;
}

.ant-notification {

    z-index: 99999999;
    left: unset !important;
    right: 0 !important;
}

.ant-notification-notice-close {
    position: absolute;
    top: 16px;
    right: 22px;
    color: rgba(0, 0, 0, 0.45);
    outline: none;
    left: unset !important;
}

.redNotification .ant-notification-notice-icon i:before {
    color: red !important;
}

.greenNotification {
    background: #ceffd9 !important;
}

.greenNotification .ant-notification-notice-icon i:before {
    color: #00b337 !important;
}

.ant-notification-notice-icon {

    font-size: 20px;

    left: 10px;
}
