.ReactPaginateBox {
    margin-top: 15px;
}

.listPaginate {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;

}


.paginateNumbers, .dotsPaginate, .prevPaginate, .nextPaginate {
    border: 1px solid darkgray;

    background-color: white;






    min-width: 31px;
    height: 31px;
    margin: 0 2px;
    border-radius: 5px;



    display: flex;
    align-items: center;
    justify-content: center;

}


.paginateNumbers.active {
    border: 1px solid #383838;
    color: white !important;
    background-color: #383838;
}

