.tabsBox {
    float: left;
    margin-top: 56.5px;
}

.tabsBox.collapseSidebarHalfOpen {
    width: calc(100% - 80px);
}

.tabsBox.collapseSidebarOpen {
    width: calc(100% - 240px);
}

.tabsBox.collapseSidebarHidden {
    width: 100% !important;
}

.tabsBox :where(.css-dev-only-do-not-override-1vtf12y).ant-tabs-top > .ant-tabs-nav::before,
.tabsBox :where(.css-dev-only-do-not-override-1vtf12y).ant-tabs-bottom > .ant-tabs-nav::before,
.tabsBox :where(.css-dev-only-do-not-override-1vtf12y).ant-tabs-top > div > .ant-tabs-nav::before,
.tabsBox :where(.css-dev-only-do-not-override-1vtf12y).ant-tabs-bottom > div > .ant-tabs-nav::before {

    border-bottom: 1px solid #e7e7e7;

}

.tabsBox .ant-tabs-tab.ant-tabs-tab-with-remove {
    background-color: #EDECF1;
    font-size: 12px;
    padding: 6px 13px;
    box-shadow: var(--shadow);
}
.tabsBox :where(.css-dev-only-do-not-override-htwhyh).ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab,
.tabsBox :where(.css-dev-only-do-not-override-htwhyh).ant-tabs-card.ant-tabs-top >div>.ant-tabs-nav .ant-tabs-tab {
    border-radius: 8px 8px 0 0;
    height: 35px;
    margin-top: 8px;
}
.tabsBox .ant-tabs-content-holder {

    padding:  10px;
}
.tabsBox :where(.css-dev-only-do-not-override-htwhyh).ant-tabs >.ant-tabs-nav .ant-tabs-nav-wrap,
.tabsBox  :where(.css-dev-only-do-not-override-htwhyh).ant-tabs >div>.ant-tabs-nav .ant-tabs-nav-wrap{
    padding-right: 5px;
}
.tabsBox .ant-tabs-nav {

    margin: 0;
    padding: 0  5px 0 10px;
    background-color: #E8EBF3;
}

.tabsBox :where(.css-dev-only-do-not-override-htwhyh).ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active, :where(.css-dev-only-do-not-override-htwhyh).ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
    z-index: 10;
}
:where(.css-dev-only-do-not-override-htwhyh).ant-tabs-card.ant-tabs-top >.ant-tabs-nav .ant-tabs-tab-active, :where(.css-dev-only-do-not-override-htwhyh).ant-tabs-card.ant-tabs-top >div>.ant-tabs-nav .ant-tabs-tab-active {
    border-bottom-color: #F8F9FC;
}
.tabsBox :where(.css-dev-only-do-not-override-htwhyh).ant-tabs-rtl.ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab + .ant-tabs-tab {
    margin-right: -3px;
}

:where(.css-dev-only-do-not-override-1vtf12y).ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
    background: rgb(0 0 0 / 6%);
}

.ant-tabs-tab.ant-tabs-tab-with-remove.ant-tabs-tab-active {
    background-color: #F8F9FC;
}


@media (max-width: 768px) {

    .tabsBox.collapseSidebarOpen , .tabsBox.collapseSidebarHalfOpen ,.tabsBox.collapseSidebarHidden {
        width: 100% !important;
    }


}