.serviceSidebar {
    height: calc(100vh - 57px);
    bottom: 0;
    right: 0;

    z-index: 10;
    background-color: #f7f9fd !important;
}

:where(.css-dev-only-do-not-override-htwhyh).ant-menu-light {
    background-color: #f1f3fa !important;

}
/*${collapseSidebar === 2 ? 'collapseSidebarOpen' : collapseSidebar === 1 ? 'collapseSidebarHalfOpen' : 'collapseSidebarHidden'}`}*/
.serviceSidebar.collapseSidebarOpen {
    width: 240px;
}

.serviceSidebar.collapseSidebarHalfOpen {
    width: 80px;
}

.serviceSidebar.collapseSidebarHidden {
    width: 240px;
    right: -240px;
}

.serviceSidebar :where(.css-dev-only-do-not-override-htwhyh).ant-menu-inline.ant-menu-root .ant-menu-item {
    /*background-color: red;*/
    margin-inline: 0;
    margin-block: 0;
}


.serviceSidebar :where(.css-dev-only-do-not-override-htwhyh).ant-menu-inline .ant-menu-item,
.serviceSidebar :where(.css-dev-only-do-not-override-htwhyh).ant-menu-vertical .ant-menu-item,
.serviceSidebar :where(.css-dev-only-do-not-override-htwhyh).ant-menu-inline .ant-menu-submenu-title,
.serviceSidebar :where(.css-dev-only-do-not-override-htwhyh).ant-menu-vertical .ant-menu-submenu-title {
    margin-left: 20px!important;
    margin-right: 0!important;
    width: calc(100% - 20px)!important;
    border-radius: 30px 0 0 30px!important;
}
.serviceSidebar.collapseSidebarHalfOpen :where(.css-dev-only-do-not-override-htwhyh).ant-menu-inline .ant-menu-item,
.serviceSidebar.collapseSidebarHalfOpen :where(.css-dev-only-do-not-override-htwhyh).ant-menu-vertical .ant-menu-item,
.serviceSidebar.collapseSidebarHalfOpen :where(.css-dev-only-do-not-override-htwhyh).ant-menu-inline .ant-menu-submenu-title,
.serviceSidebar.collapseSidebarHalfOpen :where(.css-dev-only-do-not-override-htwhyh).ant-menu-vertical .ant-menu-submenu-title {
    margin-left: 5px!important;

    width: calc(100% - 5px)!important;

}
.serviceSidebar :where(.css-dev-only-do-not-override-htwhyh).ant-menu-inline .ant-menu-item:hover,
.serviceSidebar :where(.css-dev-only-do-not-override-htwhyh).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:hover {
   color:var(--blue) !important;
    background-color: var(--blue-100) !important;
}


.serviceSidebar :where(.css-dev-only-do-not-override-htwhyh).ant-menu-light .ant-menu-item-selected {
    background-color: white;


}

.serviceSidebar :where(.css-dev-only-do-not-override-htwhyh).ant-menu-light .ant-menu-item-selected:before {
    width: 6px;
    border-radius: 30px 0 0 30px;
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    background-color: var(--blue);
}

.layerSidebar {
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.35);
}


.logoBoxSidebar {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {

    .serviceSidebar {
        height: 100vh !important;
        top: 0;
    }


}