body {
    font-family: IRANSansXFaNum !important;
    direction: rtl;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, input, textarea, button, span, div, p, label, .ant-input {
    font-family: IRANSansXFaNum;
}