.ag-root-wrapper-body.ag-layout-normal {
    height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}


/*ag grid*/
.ag-theme-alpine {
    --ag-grid-size: 7px;
    --ag-list-item-height: 40px;
}

.ag-body.ag-layout-normal {
    min-height: 340px;
}

.CreateGrid .ag-body.ag-layout-normal {
    min-height: unset;
}

.CreateGrid {
    /*pointer-events: none*/
}


.ag-header-cell, .ag-header-group-cell,.ag-rtl .ag-cell {
    border-left: 1px solid #e3e3e3;
    font-size: 13px;
}
.ag-theme-alpine {
    --ag-grid-size: 6px;
    --ag-list-item-height: 15px;
}

.ag-root-wrapper {
    border-radius: 5px;
}

.ag-header-cell, .ag-header-group-cell, .ag-rtl .ag-cell {
    font-size: 11.5px;
}

.tether-element-attached-bottom.tether-target-attached-top {
    z-index: 10 !important;
    top: 150px !important;
}

.tether-element-attached-top.tether-target-attached-bottom {
    z-index: 10 !important;
    top: 0 !important;
}


